$height:  5rem;
.uiHeader {
    position: relative;
    background-color: #fff;
    text-align: center;
    height: $height;
    width: 100%;
    min-width: 1200px;
    border-bottom: 1px solid #f1f1f1;
    color: #909090;
    z-index: 250;
    .logo{
        display: inline-block;
        left: 60px;
        img{
            display: inline-block;
        }
    }
    ul{
        display: flex;
        height: 100%;
        .title{
            align-items:center;
            font-size: 1.33rem;
            justify-content: center;
            cursor: pointer;
            padding: 0 1.6rem;
            line-height: $height;
        }
    }
  
}


//     ul {
//         display: inline-block;
//         .menu {
//             text-decoration: none;
//             display: inline-block;
//             margin-right: 50px;
//             font-size: 18px;
//             color: #000000;
//             height: $height;
//             line-height: $height;
//             &:last-child {
//                 margin-right: 0;
//             }
//             &.active {
//                 font-size: 18px;
//                 color: #D3B4A1;
//                 border-bottom: 3px solid #D3B4A1;
//             }
//         }
//         @media all and (-ms-high-contrast:none) { 
//             .menu{
//                 line-height: 55px;
//             }
//         } 
//     }
//     .logo {
//         position: absolute;
//         left: 60px;
//     }
//     .contact {
//         position: absolute;
//         right: 94px;
//         top: 0;
//         font-size: 16px;
//         color: #333333;
//         line-height: $height;
//         svg{
//             margin-top: 15px;
//         }
//         h6 {
//             margin-left: 5.4px;
//             display: inline-block;
//         }
//     }